@import "tailwindcss";

@import "tw-animate-css";

:root {
  --background: oklch(0.915 0.0988 95.31);
  --foreground: oklch(0.4 0.044 240.6);
  --button: oklch(0.95 0.1341 34.7091);
  --card: oklch(0.95 0.07 95.31);
  --card-foreground: oklch(0.3353 0.0132 2.7676);
  --primary: oklch(0.7357 0.1641 34.7091);
  --primary-foreground: oklch(1 0 0);
  --muted-foreground: oklch(0.5534 0.0116 58.0708);
  --destructive: oklch(0.6122 0.2082 22.241);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.7357 0.1641 34.7091);
  --ring: oklch(0.7357 0.1641 34.7091);
  --font-sans: "Nunito", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-button: var(--button);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);

  --font-sans: var(--font-sans);
}

@layer base {
  *,
  *::before,
  *::after {
    border-color: var(--color-border);
  }

  body {
    @apply bg-background min-h-screen max-w-3xl mx-auto sm:px-6 lg:px-8 text-foreground;
  }

  h1,
  h2 {
    @apply font-bold;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply text-lg;
  }

  p {
    @apply text-base leading-7 mb-2;
  }

  p a {
    @apply text-primary underline;
  }
}
